//output: index.html, pretty:True
doctype html
html(lang='en')
  head
    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7982634248936487",
        enable_page_level_ads: true
      });


    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='Anthony Machula is a freelance creator working at the forefront of the tech sector to create wonderful things, these include pretty sites and apps.')
    meta(name='author', content='Anthony Machula | Anton Machula')
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='img/fav/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='img/fav/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/fav/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='img/fav/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href='img/fav/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='img/fav/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='img/fav/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='img/fav/apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='img/fav/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='img/fav/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='img/fav/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='img/fav/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='img/fav/favicon-128.png', sizes='128x128')
    meta(name='application-name', content=' ')
    meta(name='msapplication-TileColor', content='#4C0000')
    meta(name='msapplication-TileImage', content='mstile-144x144.png')
    meta(name='msapplication-square70x70logo', content='mstile-70x70.png')
    meta(name='msapplication-square150x150logo', content='mstile-150x150.png')
    meta(name='msapplication-wide310x150logo', content='mstile-310x150.png')
    meta(name='msapplication-square310x310logo', content='mstile-310x310.png')
    title Anthony Machula | Freelance Creator
    // Bootstrap core CSS
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/bootstrap-flex.css')
    //- link(rel='stylesheet', href='css/font-awesome.min.css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')


    link(href='https://fonts.googleapis.com/css?family=Oswald:300,700|Yellowtail|Bitter:400,400i,700|Lobster|Baskerville', rel='stylesheet')
    // Custom styles for this template
    link(href='css/main.css', rel='stylesheet')

    link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css', rel='stylesheet')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89863896-1', 'auto');
      ga('send', 'pageview');

  body



    nav.navbar.navbar-fixed-bottom.bg-faded
      //- button.navbar-toggler.hidden-lg-up(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      .navbar-brand.upper(data-toggle="tooltip", data-placement="right", title="Another catchphrase!") <x> Less is more <x/>

      #navbarResponsive

        .nav-item.float-xs-right
          ul.nav.navbar-nav
            li.nav-item.active
                a.fa.fa-pencil.fa-2x(aria-hidden='False', href='blog', data-toggle="tooltip", data-placement="left", title="My Blog! Really recommend it!")
            li.nav-item.active
                a.fa.fa-linkedin.fa-2x(aria-hidden='False', href='https://linkedin.com/in/anthony-machula', data-toggle="tooltip", data-placement="left", title="My LinkedIn!")
            li.nav-item.active
                a.fa.fa-envelope.fa-2x(aria-hidden='False', href="mailto:x@anthonymachula.ca?Subject=Let\'s talk about [blank]!", data-toggle="tooltip", data-placement="left", title="Email me!")



    .container.main
      .centerContainer.headerContainer
        h1.header.brand Anthony Machula
        h4.headline Let's create something 
          span.italicised  Beautiful

    .main.container.text-xs-center
      h1.upper.
        I am a <x>modern magician</x>,
      h5
        and my favorite trick is to create web apps from scratch!
      h1.
          Just like this
      h1.display-1.upper.theOne(data-toggle="tooltip", data-placement="bottom", title="Dramatic music ensues, as the world is engulphed with smoke and fire.") one.
      #instafeed

    .main.container
      .row
        .col-md-12
          .centerContainer.headerContainer
            h2.upper I specialize in creating for
            h1.display-3.upper
              x creators
            h2.upper who kick butt
            h1.display-1.upper &
            h4.upper aren't afraid of getting a little dirty
            h1.upper to do    <span style='text-transform: lowercase;' class='brand'> wonderful </span>  things


    .main.container
      .row
        .col-md-8.col-xs-12
          h1.display-3.thin.upper.bold#magiciansToolkit(data-toggle="tooltip", data-placement="top", title="But is not limited to of course, ") My <x>magician</x>'s toolbox includes

          hr
          h1.display-1.upper#frontEnd front-end technologies
          h2 Js, Html5, Css and Images with Photoshop, CoffeeScript, Sass and Jade
          .container.text-xs-center
            h1 &
          h1.display-2.upper#backEnd back-end technologies
          h3 Like AWS architecture, Docker compartmentalization, Django, Php, and Node.js and databases
          br

    //- .main.container.text-xs-center
    //-   h1.display-1.upper Things I'm making
    //-   br
    //-   .row
    //- 
    //-     .col-xs-12.col-md-12.text-xs-center.portfolio.rudben
    //-       h1.display-4.upper.vertical-align
    //-         a(href='http://codeside.ca') codeSide
    //-       h3.
    //-         I'm building a wonderful tool, that will become the third alternative to freelance and salary work.
    //-         </br>You should check it out!

    .container
      .headerContainer
        h6.upper Let's create something wonderful, <x>[ and talk business ]</x> 
        h6.upper Also, here's my <x><a href="/resume.docx"> Resume </a></x>
        h1(data-toggle="tooltip", data-placement="top", title="X, because my name's already in the domain ;)") My email's x@anthonymachula.ca
      br
      br
      br
      br
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    link(src='css/modalTransparentandFullscreen.css', rel='stylesheet')
    script(src='js/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js', integrity='sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB', crossorigin='anonymous')

    script.
      window.jQuery || document.write('<script src="../../assetsjs/vendor/jquery.min.js"><\\\/script>')
    script(src='js/animatedModal.min.js')
    script(src='js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='js/ie10-viewport-bug-workaround.js')
    script(src='js/scrollAnimate.js')
    script(src='js/whenPassed.min.js')
    script(src='js/scrollreveal.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js')
    script(src='js/fittext.js')
    script(src='https://rawgit.com/stevenschobert/instafeed.js/master/instafeed.min.js')
    script(src='js/main.js')
