//output:index.html, pretty:true        

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='Anthony Machula is a freelance creator working at the forefront of the tech sector to create wonderful things, these include pretty sites and apps.')
    meta(name='author', content='Anthony Machula | Anton Machula')
    style.
      .spinnerDiv{position:absolute;top:25%;left:50%}.spinner{margin:100px auto;width:50px;height:40px;text-align:center;font-size:10px}.spinner > div{background-color:#4C0000;height:100%;width:6px;display:inline-block;-webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;animation:sk-stretchdelay 1.2s infinite ease-in-out}.spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}.spinner .rect3{-webkit-animation-delay:-1s;animation-delay:-1s}.spinner .rect4{-webkit-animation-delay:-.9s;animation-delay:-.9s}.spinner .rect5{-webkit-animation-delay:-.8s;animation-delay:-.8s}@-webkit-keyframes sk-stretchdelay{0%,40%,100%{-webkit-transform:scaleY(0.4)}20%{-webkit-transform:scaleY(1.0)}}@keyframes sk-stretchdelay{0%,40%,100%{transform:scaleY(0.4);-webkit-transform:scaleY(0.4)}20%{transform:scaleY(1.0);-webkit-transform:scaleY(1.0)}}
      body {font-family: 'Baskerville'}
      .t {text-transform: uppercase}
    include  ../../../includes/favicon.jade
    
    
    title CourseWork | Directory
    // Bootstrap core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/tree.css', rel='stylesheet')

    script(src='/js/tree.js')

    link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville",rel="stylesheet")
    // Custom styles for this template
    link(href='/css/main.css', rel='stylesheet')
  
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82891485-1', 'auto');
      ga('send', 'pageview');
        
    body
      
      .container.main
      .centerContainer(style="font-family: 'Libre Baskerville'")
        h1 Taxono-me!
        br
        br
        .row
        .col-md-3
        .col-md-6
          .tree.well
            ul
              li
                h4
                  i.icon-folder-open.
                    Biotic
                ul
                  li
                    span
                      i.icon-minus-sign
                      |  Child
                     
                    ul
                      li
                        span
                          i.icon-leaf
                          |  Grand Child
                         
                  li
                    span
                      i.icon-minus-sign
                      |  Child
                     
                    ul
                      li
                        span
                          i.icon-leaf
                          |  Grand Child
                         
                      li
                        span
                          i.icon-minus-sign
                          |  Grand Child
                         
                        ul
                          li
                            span
                              i.icon-minus-sign
                              |  Great Grand Child
                             
                            ul
                              li
                                span
                                  i.icon-leaf
                                  |  Great great Grand Child
                                 
                              li
                                span
                                  i.icon-leaf
                                  |  Great great Grand Child
                                 
                          li
                            span
                              i.icon-leaf
                              |  Great Grand Child
                             
                          li
                            span
                              i.icon-leaf
                              |  Great Grand Child
                             
                      li
                        span
                          i.icon-leaf
                          |  Grand Child
                         
              li
                span
                  i.icon-folder-open
                  |  Parent2
                 
                ul
                  li
                    span
                      i.icon-leaf
                      |  Child
                     
